.card-container {
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
    max-width: 15rem;
    text-align: center;
}

.card-container h2 {
    font-size: 1.25rem;
}

.card-container ul {
    list-style: none;
    text-align: left;
}

.card-container li {
    margin-top: 0.25rem;
}